apiVersion: batch/v1
kind: CronJob
metadata:
  name: every-minute-job
spec:
  schedule: "*/1 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
          - name: every-minute-container
            image: busybox
            command: ["sh", "-c", "echo Job running at $(date) && sleep 5"]

